/* variables declaration */
:root {
    --red: #ff6f69;
    --beige: #ffeead;
    --yellow: #ffcc5c;
}

.grid {
    --columns: 200px 200px;
}

/* Styles */

html, body {
    background: var(--beige);
    color: var(--red);
}

.grid {
    display: grid;
    grid-template-columns: var(--columns);
    grid-auto-rows: 140px;
    grid-gap: 20px;
    justify-content: center;
}

h1, p {
    color: var(--red);
}

#navbar a {
    color: var(--red);
}

.item {
    --item-yellow: #fffc5c;
    /* --red: #ff8e69; */
    background: var(--item-yellow);
}

button {
    background: var(--red);
    color: var(--yellow);
}

/* .featured {
    --yellow: #ffe55b;
    --red: #ff5564;
}  */

@media all and (max-width: 450px) {
    .grid {
        --columns: 200px;
    }
}