:root {
    --red: #ff6f69;
    --beige: #ffeead;
    --yellow: #ffcc5c;
}

html, body {
    background: var(--beige);
    color: var(--red);
}

h1, p {
    color: var(--red);
}

#navbar a {
    color: var(--red);
}

.item {
    --item-yellow: #fffc5c;
    /* --red: #ff8e69; */
    background: var(--item-yellow);
}

button {
    background: var(--red);
    color: var(--yellow);
}

/* .featured {
    --yellow: #ffe55b;
    --red: #ff5564;
}  */